<footer class="bd-footer text-muted">
  <div class="container-fluid p-3 p-md-5">
    <ul class="bd-footer-links">
      <li><a href="{{ site.repo }}">GitHub</a></li>
      <li><a href="https://twitter.com/getbootstrap">Twitter</a></li>
      <li><a href="{{ site.baseurl }}/docs/{{ site.docs_version }}/examples/">サンプル</a></li>
      <li><a href="{{ site.baseurl }}/docs/{{ site.docs_version }}/about/overview/">Bootstrap について</a></li>
    </ul>
    <p>世界中の愛をこめて、<a href="https://twitter.com/mdo" target="_blank" rel="noopener">@mdo</a> と <a href="https://twitter.com/fat" target="_blank" rel="noopener">@fat</a> が設計、開発しています。<a href="https://github.com/orgs/twbs/people">コアチーム</a> が <a href="https://github.com/twbs/bootstrap/graphs/contributors">コントリビュータ</a> の協力のもとメンテナンスしています。</p>
    <p>現在のバージョンは v{{ site.current_version }}。コードのライセンスは <a href="https://github.com/twbs/bootstrap/blob/master/LICENSE" target="_blank" rel="license noopener">MIT</a> 、ドキュメントは <a href="https://creativecommons.org/licenses/by/3.0/" target="_blank" rel="license noopener">CC BY 3.0</a> です。</p>
  </div>
</footer>
